* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    height: 808px;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.banner{
    text-align: right;
    padding-top: 216px;
}

.banner-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    padding-left: 845px;
    padding-bottom: 24px;
}

.banner-description{
    color: #444343;
    font-size: 16px;
    width: 494px;
    height: 78px;
    padding-left: 876px;
    padding-bottom: 32px;
}

.btn-banner{
   color: #FFFFFF;
    font-weight: 600;
    font-size: 20px; 
    height: 64px;
    width: 160px;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    position: absolute;
    bottom: 50px;
    right: 155px;
}

/* failures section */

.failur-section{
    display: flex;
    gap: 87px;
    align-items: center;
}

.failur-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    height: 94px;
}

.failur-sub-title{
    font-size: 16px;
    color: #444343;
    font-weight: 400;
    width: 416px;
    height: 104px;
    padding-top: 24px;
}

.fd-item{
    display: flex;
    gap: 10px;
}

.fd-chack-icon{
    color: #16D887;
}

/* today */

.today{
    margin-top: 130px;
    text-align: center;
    background-color: #efebeb;
    border-radius: 5px;
    border-bottom-right-radius: 30px;
    padding-top: 100px;
}

.text-today{
    color: #FD6E0A;
}

.today-title{
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 15px;
}

.today-sub-title{
    font-weight: 500px;
    padding-bottom: 100px;
}

.today-container{
    display: flex;
    gap: 50px;
}
.t-item{
    border-bottom-right-radius: 30px;
    box-shadow: 3px 2px 5px #5d5b5b;
}

.t-item-title{
    font-weight: 600;
    font-size: 30px;
}

.t-item-description{

}

/* My Plan Section */

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 55px;
}

.skills-container{
    display: flex;
    gap: 85px;
    width: 1140px;
    height: 300px; 
    margin: auto;
    justify-content: center;   
}

.skill{
    text-align: center;
}

.skill-title{
    font-weight: 700;
    font-size: 30px;
}

.skill-sub-title{
    font-weight: 500;
    font-size: 25px;
}

.positive{
    width: 1140px;
    height: 300px;
    margin: auto;
    justify-content: center
    position: relative;
}

.container {
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center
  }

  .top-left {
    text-align: left;
    position: absolute;
    top: 59px;
    left: 64px;
    font-weight: 700;
    font-size: 40px;
    width: 459px;
  }

  .positive-btn {
    position: absolute;
    bottom: 50px;
    left: 64px;
    width: 160px;
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px; 
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
}

/* footer section */

.footer{
    display: flex;
    gap: 330px;
    color: #FFFFFF;
    background: #151414;
    margin: auto;
    justify-content: center;
    margin-top: 130px;
    height: 577px;
}

.footer-info{
    padding-left: 230px;
}

.info-title{
    font-weight: 700;
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.info-description{
    font-size: 16px;
    padding-bottom: 25px;
}

.footer-form{
    margin-right: 250px;
}

.form-title{
    font-weight: 600;
font-size: 25px;
margin-top: 60px;
margin-bottom: 30px;
}

form input{
    margin-bottom: 25px;
    width: 370px;
    background-color: #151414;
    border-radius: 5px;
}

.lbtn{
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px; 
    height: 60px;
    width: 170px;
    border: 0;
    border-radius: 5px;
    background: #FFFFFF;
}